<a href="/user/dash">home</a>
<br>
<label for="phoneNumber">Phone number:</label>
<input id="phoneNumber" name="phoneNumber" type="tel">
<br>
<label for="carrier">Carrier:</label>
<select name="carrier">
    <option value=""></option>
    <option value="">Verizon</option>
    <option value="">AT&T</option>
    <option value="">Sprint</option>
    <option value="">T-Mobile</option>
</select>
